 .u-section-1 {
  background-image: none;
  min-height: 919px;
}

.u-section-1 .u-group-1 {
  min-height: 776px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 50px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-line-1 {
  width: 50px;
  height: 3px;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 0 672px 0 51px;
}

.u-section-1 .u-group-2 {
  width: 512px;
  min-height: 496px;
  box-shadow: 6px 6px 17px 2px rgba(128,128,128,0.8);
  height: auto;
  margin: 19px 90px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -485px auto 0 51px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 51px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: 0;
    width: calc(((100% - 940px) / 2) + 940px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 552px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -48px;
    margin-right: 20px;
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -418px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 303px;
  }

  .u-section-1 .u-group-2 {
    width: 407px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 163px;
  }

  .u-section-1 .u-group-2 {
    width: 332px;
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    min-height: 413px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -461px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}